@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>
Sorry, an error has occurred. This error has automatically been sent to the SEMplest development team.  If this error continues or if you need assistance, please contact us at help@semplest.com.
</h2>
