@model IEnumerable<SemplestModel.AdvertisingEngine>

   <table>
   
  @foreach (SemplestModel.AdvertisingEngine item in Model)
  {
      <tr >
        <td>x</td>
        <td>@item.AdvertisingEngine1</td>
        </tr>
  }
  </table>