@{
    ViewBag.Title = "My Account";
}
@section Title{
    My Account
}
@section Links{
    <div id="examplesThemeChooser">
        <input type="button" class="k-button k-state-btnerror rounded" value="My Account" id="btnOne" />
        <input type="button" class="k-button rounded" value="Reporting" id="btnTwo" />
        <input type="button" class="k-button rounded" value="Billing" id="btnThree" />
    </div>
}
<br />
<br />
<p><a href="">Create New Product Group</a></p>
<p><a href="">Create Duplicate Product Group</a></p>

<p><b>Live Product Groups</b> scroll over to see summary, click to edit</p>
<a href="">Insurance</a>

<p><b>Unfinished Product Groups</b></p><br />
<a href="">Safety Tips</a>

<p>Paused Product Groups</p><br />
<a href="">Agents</a>

Reporting Snapshot


