@model IEnumerable<SemplestModel.ProductGroup>
@{
    ViewBag.Title = "My Account";
}
@section Title{
    My Account
}
@section Links{
    <div >
        <input type="button" class="k-button k-state-btnerror rounded" value="My Account" id="btnMyAccount" />
        <input type="button" class="k-button rounded" value="Ad Setup" id="btnAdSetup" />
        <input type="button" class="k-button rounded" value="Reporting" id="btnReporting" />
        <input type="button" class="k-button rounded" value="Billing" id="btnBilling" />
    </div>
}
@section Navbar{
    <div id="panelbar-images">
    </div>
    <script type="text/javascript">
        $("#panelbar-images").kendoPanelBar({
            dataSource: [
                {
                    text: "Home",
                    items: [
                        { text: "Quick Start Guide" },
                        { text: "FAQs" },
                        { text: "Contact Us" },
                        { text: "Create User", url: "Home" },
                        { text: "Campaign", url: "/Campaign/CampaignSetup" },
                        { text: "Search Keywords", url: "Home/SearchKeywords" }
                    ]
                }
            ]
        });

    </script>
    }
<br />
<br />
<p>@Html.ActionLink("Create New Product Group", "CampaignSetup", "Campaign")</p>
<p>Create Duplicate Product Group</p>

<p><b>Live Product Groups</b></p>
@foreach (SemplestModel.ProductGroup p in Model)
{
    @Html.ActionLink(p.ProductGroupName, "", "")<br />
}

<p><b>Unfinished Product Groups</b></p>
Safety Tips

<p><b>Paused Product Groups</b></p>
Agents

<p>Reporting Snap Shot </p>
<p>@Html.ActionLink("Account Information", "ChildProfile", "Account") </p>
 


<script type="text/javascript">
    $('#btnMyAccount').click(function () {
        window.location.href = '../Home/Index2';
        return false;
    });

    $('#btnAdSetup').click(function () {
        window.location.href = '../Campaign/CampaignSetup';
        return false;
    });
    $('#btnReporting').click(function () {
        window.location.href = '../Reporting/Index';
        return false;
    });
</script>