
@using Semplest.Core.Helpers
@model Semplest.Core.Models.CampaignSetupModel
<div>
    <span class="infoHead">Sitelinks is a feature that lets you include additional links
        to other content on your site that's not on the main landing page. They appear below
        your ad copy in the search results</span>
    <div class="configuration1">
        <span>you can enter upto 10 additional links that may be shown with your Ad</span>
        <div style="text-align: right">
            @Html.LinkToAddNestedForm("Add", "#sitelinks", ".sitelinks", "SiteLinks", typeof(SemplestModel.SiteLink))
        </div>
        <div class="table">
            <ul id="sitelinks">
                @Html.EditorFor(t => t.SiteLinks)
            </ul>
            <br />
        </div>
    </div>
    <div class="options">
        <button class="k-button" id="back2" type="button">
            <span class="k-back k-icon"></span>back</button>
        <button class="k-button" id="save3" type="submit" name="Command" value="SetAdditionalLinks">
            <span class="k-update k-icon"></span>Save And Continue</button>
    </div>
</div>
<script type="text/javascript">
    $('#back2').click(function () {
        tabChange();
    });
    function tabChange(parameters) {
        var tab = tabStrip.select(),
        otherTab = tab.prev();
        tabStrip.remove(tab);
        tabStrip.select(otherTab);
    }
</script>