@{
    ViewBag.Title = "Index";
}

<h1>
    Client Account:
</h1>

<h2>Flower Allie - Account ID 12345</h2>

<br />
<br />
<br />

<h2>Flower Allie - Account ID 12345</h2>
<a href="url">Impresonate Account</a> <br />
<a href="url">Disable Account</a> <br />
<a href="url">Enable Account</a> <br />
<a href="url">Refund Account</a> <br />
<a href="url">Edit Start or End Date</a> <br />
<br />
<br />
<br />


<h2>Reporting</h2>
<a href="url">Downlaod User Summary Report</a> <br />
<a href="url">Downlaod User Billing Report</a> <br />
<br />
<br />
<br />

<h2>Billing Info</h2>
<p>VISA ending in 8971   Expires 8/24/14</p> 
<p>or</p>
<a href="url">Add a new card</a> <br />


