<a href="/" class="k-button">Home</a> <a href="/EmployeeSetup/Edit" class="k-button">
    Account Service</a> <a href="/ClientAccount" class="k-button">User Setup</a>
<a href="/Billing/Finance" class="k-button">Billing/Finance</a> <a href="/Configuration"
    class="k-button">Configure</a>