           @section Nav{
                        	<!--<a id="various1" href="#inline1" class="flt_Rt"><img src="images/button_log_in.gif" alt="login" border="0"></a>-->
                            <a href ="/SemplestCore" class="flt_Rt"><img src="images/button_log_in.gif" alt="login" border="0"></a>
                    	<ul class="flt_Rt">                   
							<li>@Html.ActionLink("Home", "index", "Home", new { area = "" }, new { @class = "active" })</li>
                            <li>@Html.ActionLink("About", "SEMAbout", "Home", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Team", "team", "Home", new { area = "" }, null)</li>
                            <li class="last" style="padding-right: 9px;" ><a href="/contact" >Contact</a></li>
				        </ul>	
}
	    	<div class="main_content">
	        	<div class="topSection">
	            	<div class="centerItem"><img src="images/home_title.jpg" border="0" alt="Search Engine Marketing - Simplified" ></div>
	               	<div class="centerItem"><img src="images/home_main_graphic.jpg" border="0" alt="As simple as 1-2-3"></div>
				    <h5>In three simple steps, businesses can simultaneously purchase keywords and create ads on multiple search engines using new technologies that automate keyword selection, bidding and campaign creation. Then we do the heavy lifting -- managing your campaign on an ongoing basis with our proprietary bidding technology, which constantly makes sure that you are getting the best bang for your buck across Google, Bing and Yahoo.</h5>
	                <div class="rowButCenter"><a href="/contact"><img src="images/button_get_more_top.gif" border="0" alt="Get more info"></a></div>
	            </div>
	            <div class="botSection">
	            	<div class="centerItem"><img src="images/home_SEM_offer.gif" border="0" align="center" alt="We are the only SEM provider to offer:"></div>
	                <div class="textBox_wrap">
	                	<div class="textBox flt_Lt">
	                    	<img src="images/home_1_auto_opt.jpg" border="0" alt="Automated optimization">
	                    </div>
	                    <div class="textBox flt_Rt">
	                    	<img src="images/home_2_personalization.jpg" border="0" alt="Personalization">
	                    </div>
	                    <span class="clear_0">&nbsp;</span>
	                </div>
	                <div class="textBox_wrap">
	                	<div class="textBox flt_Lt">
	                    	<img src="images/home_3_cost.jpg" border="0" alt="Cost efficiencies">
	                    </div>
	                    <div class="textBox flt_Rt">
	                    	<img src="images/home_4_transparent.jpg" border="0" alt="Transparent pricing">
	                    </div>
	                    <span class="clear_0">&nbsp;</span>
	                </div>
	               <div class="rowButCenter"><a href="/contact"><img src="images/button_get_more_bottom.gif" border="0" alt="Get more info"></a></div>
	            </div>
	        </div>