@model Semplest.Core.Models.CampaignSetupModel
<div class="configuration1">
    <span class="infoHead">Billing and Launch</span>
    <div class="configuration1">
        <ul class="options">
            <li><h3>We have selected</h3> <h2><label id="keywords">508</label>@Html.LabelFor(m => m.BillingLaunch.KeywordsCount)</h2> <h3>keywords to bid on!</h3></li>
            <li><a href="#" id="viewSelectedKeywords">View selected keywords</a></li>
        </ul>
    </div>
    <div class="configuration1">
    <ul>
        <li>
           <p>SEMplest can work with any budget to provide traficc to your site. To help us better serve your sales goals, please indicate your comfort level when paying Google, Bing and Yahoo! For Each customer that reaches your site.</p>
        </li>
        <li>
        <select id="droprange">
        <optgroup><option>Select</option>
        <option>$0.00-$1.50 range</option>
        </optgroup>
        </select>
        <!--@Html.DropDownListFor(t=>t.Range)<label id="lblOptional">Optional</label>-->
        </li>
        <li>
        <label id="lblYourCreditInvoice">Your Credit Cards on file(OR Paying by Invoice)</label>
        <!--@Html.DropDownListFor(t => t.Invocie)-->
        <select id="Select1">
        <optgroup><option>Select</option>
        <option>VISA ending in 8971 Expires8/24/14</option>
        </optgroup>
        </select>
        <a href="#" id="enterNewRecord">Enter New Record</a>
        <a href="#" id="deleteRecord">Delete Record</a>
        </li>
        </ul>       
        <ul>
        <li>
        <label id="lblsemplestCharge">SEMplest Charge</label><input type="text" id="Semplestcharge" value="$400.00"/>
        <label id="lblOutput1">"Output Field Which is a Conditional note"</label>
        </li>
        </ul>
        <ul>
        <li>
        <label id="lblbudget">Budget</label>
                <label id="lbltotalMediaSpend">Total Media Spend</label><input type="text" id="txttotalMedia" value="$400.00"/>
                <label id="Label1">"Output Field Which is a Conditional note"</label>
        </li>        
        </ul>
        <ul>
        <li><input type="text" id="txtbudget" value="$400.00"/>
         
        <label id="lbltotalcreditCardCharge">Total Credit Card Charge</label><input type="text" id="txtCredCharge" value="$400.00"/>
        <label id="Label2">"Output Field Which is a Conditional note"</label>
        </li>
        
        </ul>
    </div>
    <div class="configuration1">
    </div>
    <ul class="options">
        <li>Budget:</li>
        <li>@Html.LabelFor(m => m.ProductGroup.Budget)</li>
    </ul>
    <div class="options">
        <br />
        <button class="k-button" id="getLaunchAdProduct" type="submit" name="Command" value="LaunchAdProduct">
            <span class="k-update k-icon"></span>LAUNCH AD PRODUCT</button>
    </div>
    <div class="options">
        <button class="k-button" id="editadproduct" type="button">
            <span class="k-back k-icon"></span>EDIT AD PRODUCT</button>

    </div>
</div>