@model Semplest.Core.Models.CampaignSetupModel
<div class="configuration1">
    <span class="infoHead">How Would you Classify Your Product</span>
    <div class="options">
        @if (Model != null && Model.AllCategories != null)
        {
            @Html.ListBoxFor(m => m.CategoryIds, new MultiSelectList(Model.AllCategories, "Id", "Name", Model.CategoryIds), new { Multiple = "multiple", style = "height:125px;width:700px;overflow-x:auto" });
        }
    </div>
    <div class="options">
        <br />
        <button class="k-button" id="backCat" type="button">
            <span class="k-back k-icon"></span>back</button>
        <button class="k-button" id="getKeywords" type="submit" name="Command" value="GetKeywords">
            <span class="k-update k-icon"></span>Save And Continue</button>
    </div>
</div>
<script>
    $('#backCat').click(function () {
        var nextItem = tabStrip.select().prev();
        if (nextItem.length)
            tabStrip.select(nextItem);
        else
            tabStrip.select(tabStrip.tabGroup.children().first());

    });
</script>