@model Semplest.Core.Models.CampaignSetupModel
<div class="configuration1">
    <span class="infoHead">View Keywords</span>
    <p>Hundreds of keywords have been generated for you.  It is recommemded that you do
        not delete keywords that seem obscure because they help you beat the
        competition by reaching potential customers without engaging in a price war for the
        most obvious ones. In the following weeks, this tool will take care of cleaning up your
        keywords, keeping only the most effective ones.
    </p>
    <div class="options">
        @if (Model != null)
        {
            
            @*@Html.ListBoxFor(m => m.KeywordIds, new MultiSelectList(Model.AllKeywords, "Id", "Name", Model.KeywordIds), new { Multiple = "multiple", style = "height:125px;width:700px;overflow-x:auto" });*@
            
            <div style = "height:345px;width:700px;overflow-x:auto">
            @Html.CheckBoxListFor(m => m.KeywordIds, new MultiSelectList(Model.AllKeywords, "Id", "Name", Model.KeywordIds));
            </div>
        }
    </div>
    <div class="options">
        <br />
        <button class="k-button" id="backKey" type="button">
            <span class="k-back k-icon"></span>back</button>
        <button class="k-button" id="getBillingLaunch" type="submit" name="Command" value="GetBillingLaunch">
            <span class="k-update k-icon"></span>Save And Continue</button>
    </div>
</div>
<script type="text/javascript">
    $('#backKey').click(function () {
        tabChange();
    });
    $('#getBillingLaunch').click(function () {
        tabChange();
    });
    function tabChange(parameters) {
        var tab = tabStrip.select(),
        otherTab = tab.prev();
        tabStrip.remove(tab);
        tabStrip.select(otherTab);
    }
</script>