
@model Semplest.Core.Models.ReportIndexModel
@Html.Partial("ReportChart", @Model)
<br/>
<div id="grid1">
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#grid1").kendoGrid({
            dataSource: {
                transport: {
                    read: '@Url.Action("ReportDetailsGrid")',
                    error: function (e) {
                        alert(e);
                    }
                },
                schema: {
                    model: {
                        fields: {
                            AdvertisingEngineBidDataPK: { type: "number" },
                            Keyword: { type: "string" },
                            IsActive: { type: "boolean" },
                            NumberImpressions: { type: "number" },
                            NumberClick: { type: "number" },
                            AveragePosition: { type: "number" }
                        }
                    }
                }
            },
            height: 250,
            filterable: true,
            sortable: true,
            columns: [
                        {
                            field: "AdvertisingEngineBidDataPK",
                            filterable: false,
                            width: 1
                        },
                      "Keyword",
                        {
                            field: "IsActive",
                            title: "Status",
                            width: 60
                        },
                        {
                            title: "Amount Spent"
                        },
                {
                    field: "NumberImpressions",
                    title: "Impr.",
                    width: 60
                },
                {
                    field: "NumberClick",
                    title: "Clicks",
                    width: 60
                },
                {
                    field: "NumberClick",
                    title: "Search CTR"
                },
                {
                    title: "CPC"
                },
                {
                    title: "Avg. Position",
                    field: "AveragePosition"
                }
            ]
        });
    });
</script>