
@model Semplest.Core.Models.ReportIndexModel
@Html.Partial("ReportChart", @Model)
<br/>
<div id="summaryGrid">
</div>
<br><br>
<div id="grid1">
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#summaryGrid").kendoGrid({
            dataSource: {
                transport: {
                    read: '@Url.Action("ReportSummaryGrid")',
                    error: function (e) {
                        alert(e);
                    }
                },
                schema: {
                    model: {
                        fields: {
                            AdvertisingEngineBidDataPK: { type: "number" },
                            KeyWord: { type: "string" },
                            IsActive: { type: "string" },
                            NumberImpressions: { type: "number" },
                            NumberClick: { type: "number" },
                            AveragePosition: { type: "number" },
                            AmountSpent: { type: "number" },
                            CPC: { type: "number" }
                        }
                    }
                }
            },
            height: 55,
            filterable: true,
            scrollable:false,
            columns: [
                     
                      {    
                      field: "KeyWord",
                      title: "Promotion",
                        },
                        {
                            field: "IsActive",
                            title: "Status",
                            width: 60
                        },
                        {
                            field: "AmountSpent",
                            title: "Amount Spent"
                        },
                {
                    field: "NumberImpressions",
                    title: "Impr.",
                    width: 60
                },
                {
                    field: "NumberClick",
                    title: "Clicks",
                    width: 60
                },
                {
                    field: "SearchCTR",
                    title: "Search CTR"
                },
                {
                    field: "CPC",
                    title: "CPC"
                },
                {
                    title: "Avg. Position",
                    field: "AveragePosition"
                }
            ]
            });


            $("#grid1").kendoGrid({
                dataSource: {
                    transport: {
                        read: '@Url.Action("ReportDetailsGrid")',
                        error: function (e) {
                            alert(e);
                        }
                    },
                    schema: {
                        model: {
                            fields: {
                                AdvertisingEngineBidDataPK: { type: "number" },
                                KeyWord: { type: "string" },
                                IsActive: { type: "string" },
                                NumberImpressions: { type: "number" },
                                NumberClick: { type: "number" },
                                AveragePosition: { type: "number" },
                                AmountSpent: { type: "number" },
                                CPC: { type: "number" }
                            }
                        }
                    }
                },
                height: 250,
                filterable: true,
                sortable: true,
                columns: [
                      "KeyWord",
                        {
                            field: "IsActive",
                            title: "Status",
                            width: 60
                        },
                        {
                            field: "AmountSpent",
                            title: "Amount Spent"
                        },
                {
                    field: "NumberImpressions",
                    title: "Impr.",
                    width: 60
                },
                {
                    field: "NumberClick",
                    title: "Clicks",
                    width: 60
                },
                {
                    field: "SearchCTR",
                    title: "Search CTR"
                },
                {
                    field: "CPC",
                    title: "CPC"
                },
                {
                    title: "Avg. Position",
                    field: "AveragePosition"
                }
            ]
            });
    });
</script>