@model  IEnumerable<Semplest.Admin.Models.sp_GetRigtsRolesInteraction_Result>
           <table>
    <tr>
    <th>IsVisible</th>
    <th>ReadOnly</th>
        <th>Page</th>
        <th>Object</th>
    </tr>
  @foreach (var item in Model)
  {
      bool IsVisible = false;
      bool IsReadonly = false;
      using (Html.BeginCollectionItem("userRights"))
      {
          
          IsVisible = item.IsVisible == null ? false : item.IsVisible.Value;
          IsReadonly = item.IsReadonly == null ? false : item.IsReadonly.Value;
          int RolesFK = item.RolesFK == null ? -1 : item.RolesFK.Value;
          int RightsPK = item.RightsPK;
        <tr>
        <td>@Html.CheckBoxFor(x => IsVisible)@Html.HiddenFor(x => RightsPK)@Html.HiddenFor(x => RolesFK)</td>
        <td>@Html.CheckBoxFor(x => IsReadonly)</td>
        <td>@Html.Label(item.Controller.ToString().Replace(".", "/"))</td>
        <td>@Html.Label(item.Label)</td>
        </tr>
        
        
      }
  }
        </table>
