@{
    ViewBag.Title = "Index";
    //Layout = null;
}
<div align="center" style="text-align: center">
    <br />
    <br />
    <br />
    <img src="@Url.Content("~/Content/Metro/semplest_logo.png")"/>
    <br />
    <br />
    <br />
    @Html.ActionLink("Not Just Another SEM Company", "SEMAbout", "Home", new { @class = "a" })
    <br />
    <br />
    @Html.ActionLink("An Open Invitation", "OpenInvitation", "Home", new { @class = "a" })
    <br />
    <br />
   @Html.ActionLink("Contact Us", "ContactUs", "Home", new { @class = "a" })
</div>
<style>
    .a
    {
        color: #8ebc00;
        font-size: 24px;
        text-decoration: underline;
        line-height: 1.5em;
        font-family: arial;
    }
</style>
