@{
    ViewBag.Title = "Home";
}
<h2>
    An Open Invitation</h2>
<center>
    <p>
        Challenge us to show you how simple and effective a well thought-out and positioned
        SEM campaign can be.</p>
        <p>
        For a short call or demo, sign up @Html.ActionLink("here", "ContactUs", "Home", new { area = "" }, null)</p>
</center>
<style>
     .a
    {
        color: #8ebc00;
        font-size: 12px;
        text-decoration: underline;
        line-height: 1.5em;
        font-family: arial;
         font-weight: bold;
    }
    h2
    {
        color: #8ebc00;
        font-size: 22px;
        line-height: 1.5em;
        font-family: arial;
    }
    p
    {
        width: 540px;
        text-align: center;
        font-size: 15px;
        line-height: 1.5em;
        font-family: arial;
    }
</style>
