@{
    ViewBag.Title = "Home";
}
<h2>
    Why We Launched This SEM Company</h2>
<center>
    <p>
        Conceived by a marketer in 2009 with a need to generate traffic to 18,000 local
        retailers, We recognized the need for a tool that eliminates the fear of SEM, 
        frees up resources by automating the process, and eliminates tedious entry requirements 
        by simultaneously launching ad campaigns on Google, Bing and Yahoo!  Our automated tool
        dramatically reduces overhead costs associated with data entry, keyword selection & management,
        and bid optimization.  There are no hidden costs, fees or other unwelcomed surprises.
        We deliver results effectively and efficiently.  Let us show you @Html.ActionLink("how", "ContactUs", "Home", new { area = "" }, null).
    </p>
</center>
<style>
    h2
    {
        color: #8ebc00;
        font-size: 20px;
        line-height: 1.5em;
        font-family: arial;
    }
    p
    {
        width: 540px;
        text-align: center;
        font-size: 15px;
        line-height: 1.5em;
        font-family: arial;
    }
</style>
