@using SemplestWebApp.Helpers
@model Semplest.Core.Models.Address
<script src="@Url.Content("~/Scripts/Maps.js")" type="text/javascript"> </script>
<div class="address">
    <table>
        <tr>
            <td>
                Address
            </td>
            <td>
                @Html.TextAreaFor(t => t.Address1, new {@cols = 20, @rows = 3, @class = "k-textbox1"})
                <button type="button" class="k-button" style="vertical-align: top" onclick=" doOptions() ">
                    <span class="k-search k-icon"></span>
                </button>
            </td>
            <td rowspan="2">
                <div id="optionsNarrative">
                </div>
            </td>
            <td valign="top">
                @Html.LinkToRemoveNestedForm("Remove", "div.address", "input.mark-for-delete")
            </td>
        </tr>
        <tr>
            <td>
                Proximity
            </td>
            <td>
                <input type="text" class="k-textbox" />
            </td>
        </tr>
    </table>
</div>