@model Semplest.Core.Models.PromotionAd
<table>
    <tr>
        <td>
            <span>URL</span>
        </td>
        <td>
            <input id="Url" name="Url" class="k-textbox" />
        </td>
        <td>
            <span>This url will appears in all of your ads</span>
        </td>
    </tr>
    <tr>
        <td>
            Ad #1
        </td>
        <td>
        </td>
        <td>
            Ad #1 Preview
        </td>
    </tr>
    <tr>
        <td>
            Title
        </td>
        <td>
            <input id="Title" name="Title" class="k-textbox" />
        </td>
        <td rowspan="2" style="background-color: #333fff;">
        </td>
    </tr>
    <tr>
        <td>
            Ad Copy
        </td>
        <td>
            <input id="description" class="k-textbox" />
        </td>
    </tr>
    <tbody data-bind="source: ads"></tbody>
</table>