@model Semplest.Core.Models.PromotionAd
<div class="adcopy">
    <ul>
        <li><label>Ad #1</label> </li>
        <li><label>Title</label> 
            <input id="Title" name="Title" class="k-textbox" value="great coffee" />
        </li>
        <li><label>Ad Copy</label> <input id="description" class="k-textbox" value="great coffee" />
        </li>
    </ul>
</div>
