
@using Semplest.Core.Helpers
@model SemplestModel.SiteLink
<li class="sitelinks">
    <label>
        Name
    </label>
    @Html.TextBoxFor(t => t.LinkText, new { @class = "k-textbox" })
    <label>
        Url</label>
    @Html.TextBoxFor(t => t.LinkURL, new { @class = "k-textbox" })
    @Html.HiddenFor(x => x.Delete, new { @class = "mark-for-delete" })
    @Html.LinkToRemoveNestedForm("Delete", "li.sitelinks", "input.mark-for-delete")
</li>