@{
    ViewBag.Title = "Home Page";
}

@*<h1>@ViewBag.Message</h1>*@
<h1>
    Home
</h1>

<br />
<br />
<br />
<br />

<h2>User Account Search:</h2>

<input type="text" id="user" />
<script type="text/jscript">
$("input#user").autocomplete({ 
    source: function (request, response) { 
        // define a function to call your Action (assuming UserController) 
        $.ajax({ 
            url: '/home/GetUsers', type: "POST", dataType: "json", 
 
            // query will be the param used by your action method 
            data: { query: request.term }, 
            success: function (data) { 
                response($.map(data, function (item) { 
                    return { label: item, value: item }; 
                })) 
            } 
        }) 
    }, 
    minLength: 1, // require at least one character from the user 
});  


</script>

<br />
<br />
<br />
<br />
<br />

<h2>Reporting:</h2>

<a href="url">Download User Summary Report</a> <br />
<a href="url">Download User Billing Report (Includes Test Account)</a> <br />

