@{
    ViewBag.Title = "Home Page";
}

@*<h1>@ViewBag.Message</h1>*@
<h1>
    Home
</h1>

<br />
<br />
<br />
<br />

<h2>User Account Search:</h2>


<select>
   <option value="Elegant Details">Elegant Details</option>
   <option value="Flower Allie">Flower Allie</option>
   <option value="Flowers by Color">Flowers by Color</option>
   <option value="Nature's Petals">Nature's Petals</option>
   <option value="Nicole's Flowers">Nicole's Flowers</option>
 </select> 



<br />
<br />
<br />
<br />
<br />

<h2>Reporting:</h2>

<a href="url">Download User Summary Report</a> <br />
<a href="url">Download User Billing Report (Includes Test Account)</a> <br />

